<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li class="list-unstyled">
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        <%= comment.content %>
        <hr>
        <%= link_to "コメント編集", edit_product_comment_path(product, comment), remote: true , class: "text-info float-right"%>
        <br>
        <%= link_to "コメント削除", product_comment_path(comment.product_id, comment.id), method: :delete, remote: true, class: "text-info float-right"%>
      </li>
    <% end %>
    <br>
  <% end %>
</ul>
