<div class="container" style="padding-top:4.5rem;">
  <div class="mx-auto p-4  border border-info rounded" style="border:solid 1px; max-width:80rem;">
    <h2>購入が完了しました</h2>
    <p><%= @product.title %></p>
    <p>¥<%= @product.price%></p>
  </div>
</div>
