// Custom bootstrap variables must be set or imported *before* bootstrap.
.carousel-control-next, .carousel-control-prev {
  width: 5%;
  background-color: #996633;
}

.home_title {
  position: relative;
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 2em 0 0.5em;
}

.box{
    padding: 0.5em 0.2em;
    margin: 0.5em 0;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.box p {
    margin: 0;
    padding: 0;
}

.example{
    position: relative;
}

.example p {
    position: absolute;
    transform: rotate(-20deg);
    font-size: 28px;
    left: 25%;
    margin:-15px 0px 0px -65px;
    color: #F00;
    letter-spacing: 2px;
    font-weight: 600;
}

.example img{
  position: absolute;
  top: 5%;
  left: 85%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.talk_room{
	background-color:rgb(113,147,193);
	padding:1em;
	overflow:auto;
}

/* 左のトークボックス */
.talk_room .left-message p:before {
	content: '';
	position:absolute;
	top:8px;
	left:-20px;
	border: 12px solid transparent;
	border-right:12px solid white;
}
.talk_room .left-message p {
	display:inline-block;
	position:relative;
	background-color:white;
	border-radius:10px;
	padding:10px;
	margin:10 0 0 10px;
}

/* 右のトークボックス */
.talk_room .right-message p:after {
	content: '';
	position:absolute;
	top:8px;
	right:-20px;
	border: 12px solid transparent;
	border-left:12px solid #85e249;
}
.talk_room .right-message p {
	display:inline-block;
	position:relative;
	background-color:#85e249;
	border-radius:10px;
	padding:10px;
	margin:10px 10px 0 0;
}


.btn-sticky {
  display: inline-block;
  padding: 0.1em 0.3em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;
  color: #ff7c5c;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

.img{
	border-radius: 50%;
}
.image_size{
  width:  120px;
  height: 120px;
}


$theme-colors: (
  "primary": #996633,
  "info": #40E0D0,
  "danger": #ff4136,
  "success": #FFDEAD
);

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
