// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-message{
  text-align: left;
}

.right-message{
  text-align: right;
}
