<div class="mx-auto p-4 border border-primary rounded" style="border:solid 1px; max-width:700px;">
  <h2 class="text-center home_title text-primary" style="margin-bottom:40px;">商品を編集する</h2>
  <%= render 'form' %>
</div>
