<div id="flash" class="text-light text-center">
  <% if notice %>
    <p class="bg-info">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="bg-warning">
      <%= alert %>
    </p>
  <% end %>
</div>